body
{
	background: greenyellow;
}

	.div1 , .div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#text_1,#text_2{
	display: inline-block;
	margin-left: 20px;
}